.ourWorksWrapper {
    border-radius: 400px 0px 0px 0px;
    background: rgba(255, 222, 212, 0.30);
    padding-bottom: 84px;
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
}

.ourWorkText {
    flex-basis: 65%;
    font-size: 48px;
}

.descriptionText {
    flex-basis: 35%;
}