.sliderWrapper {
    background-color: #ECF7FF;
    position: relative;
    border-radius: 0px 400px 0px 0px;
    padding: 100px 0px;
}

.sliderWrapper::after {
    position: absolute;
    content: '';
    background: url('../../../assets/servicesEllipse.png') no-repeat;
    bottom: -116px;
    right: 0;
    z-index: -1;
    width: 478px;
    height: 578px;
}

.servicesTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 110px;
    font-size: 48px;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .servicesTitle {
        font-size: 64px;
    }
}