.sliderWrapper {
    background-color: #ECF7FF;
    border-radius: 23% 50% 25% 25% / 0% 100% 0% 0%;
    padding: 100px 0px;
}

.servicesTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 110px;
    font-size: 48px;
}