.titleWrapper {
    display: flex;
    flex-direction: column;
    font-size: 87px;
    font-weight: 300;
}

.heroSectionWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 82px 0px;
}

.heroSectionWrapper::before {
    display: block;
    position: fixed;
    content: '';
    background: url('../../../assets/afterHeroImageTopRight.svg') no-repeat;
    top: 0;
    right: 0;
    z-index: -1;
    width: 520px;
    height: 712px;
}

.heroSectionText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 30px;
}

.description {
    color: rgba(51, 27, 59, 0.66);
    line-height: 146.3%;
    letter-spacing: 0.34px;
}