.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 43px;
}
@media (max-width: 767px) {
    .navbar {
        margin-top: 20px;
    }
}

@media (max-width: 440px) {
    .navbar {
        justify-content: flex-start;
        gap: 10%;
    }
}
