.strongText {
    margin: 0;
    font-weight: 700;
}

.underlineText {
    display: inline-block;
    background-image: linear-gradient(to right, #FDC221, #FDC221);
    background-position: 0px 80%;
    background-size: 100% 20px;
    background-repeat: no-repeat;
}