.link {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(51, 27, 59, 0.64);
    padding: 8px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: background-color .3s ease;
}

.link:hover {
    cursor: pointer;
    background-color: #FDC021;
}

.link:hover.facebook {
    background-color: #1877F2;
}

.link:hover.linkedin {
    background-color: #0A66C2;
}

.link:hover.instagram {
    background-color: #C13584;
}

.link:hover .icon path {
    fill: #fff;
}
