.nextArrow,
.prevArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 31px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 50%;
    top: 0;
}

.nextArrow {
    left: 8%;
    top: 106%;
}

.prevArrow {
    transform: rotate(180deg);
    left: 4%;
    top: 106%
}